/* FONT STACK */

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

/* BASE LAYOUT */

html {
    height: 100%;
}

html * {
    margin: 0;
}

body {
    height: 100%;
}

.height-100 {
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover, a:active {
    outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1, h2, h3 {
    font-weight: normal;
    font-size: 1.25em;
    margin: 0.8em 0 0.3em 0;
}

ul {
    padding: 0;
}

img {
    border: 0;
}